.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
  
footer {
    margin-top: auto;
    background-color: lightslategray;
    color: white;
    text-align: center;
    padding: 8px 5px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center-align items horizontally */
    justify-content: center;  /* Center-align items vertically */
}

.footer-content img {
    margin-bottom: -20px;  /* Add some space between the logo and the text */
}

.container{
    text-align: center;
    margin:auto;
    width:30%;
    padding:16px;
    background-color: lightslategray;   
}

input[type='text'],
input[type='password'] {

    width:50%;
    padding: 10px;
    margin: 5px 0 18px 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
}

.input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
.input:hover,
.input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.rooms-container {
    display: flex;
    flex-direction: column; 
    align-items: stretch;
    margin: 20px;
}

.day-column {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 10px;
}

.room-card {
    width: 100px;
    height: 70px;
    padding: 10x;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #bebebe,
               -6px -6px 12px #ffffff;
    background: #BBE2EC;
    text-align: center;
    justify-content: center;
}

.room-card h2 {
    padding: 20px;
    font-size: 18px;
    color: #1B3C73;
}

.room-card p {
    font-size: 10px;
    color: #333;
}

.cardWhite {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background: #BBE2EC;
    box-shadow: 6px 6px 12px #bebebe,
               -6px -6px 12px #ffffff;
}

.cardRed {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background: #D24545;
    box-shadow: 6px 6px 12px #bebebe,
               -6px -6px 12px #ffffff;
}

.form-venue {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-venue label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.form-venue select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-venue input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-venue h1 {
    text-align: center;
}


.checkbox {
    appearance: none;
    overflow: hidden;
    width: 130px; /* Change width to 130px */
    height: 30px; /* Change height to 30px */
    aspect-ratio: 1/1;
    border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
    border: 2px solid rgb(0, 102, 255); /* Change border color to blue */
    position: relative;
    transition: all 0.2s ease-in-out;
}
  
.checkbox::before {
position: absolute;
inset: 0;
content: "";
font-size: 35px;
width: 100%; /* Adjust to fill the entire space */
height: 100%; /* Adjust to fill the entire space */
transition: all 0.2s ease-in-out;
}

.checkbox:checked {
border: 2px solid rgb(173, 216, 230); /* Change border color to a light blue */
background: linear-gradient(135deg, rgb(173, 216, 230) 0%, rgb(0, 102, 255) 100%); /* Adjust gradient colors */
box-shadow: -2px -2px 20px rgba(173, 216, 230, 1), 2px 2px 20px rgba(0, 102, 255, 1); /* Adjust shadow colors and width */
}

.checkbox:checked::before {
background: linear-gradient(135deg, rgb(173, 216, 230) 0%, rgb(0, 102, 255) 100%); /* Adjust gradient colors */
}

button {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}

button:hover {
   opacity: 0.9;
}
