{% extends "layout.html" %}
{% block title %}
    Academic Complex Floor 1 - {{ current_day }}
{% endblock %}
{% block content %}
    <div class="rooms-container">
        {% if current_day %}
            <h2 style="text-align: center;">Availability for {{ current_day }}</h2>
            <table class="availability-table">
                <tr>
                    <th style="text-align: center;"><h3>Time Slot</h3></th>
                    {% set room_numbers = ['101', '102', '103', '104'] %}
                    {% for room_number in room_numbers %}
                        <th style="text-align: center;"><h3>Room {{ room_number }}</h3></th>
                    {% endfor %}
                </tr>
                {% set time_slots = ['9am-10am', '10am-11am', '11am-12pm', '12pm-1pm', '1pm-2pm', '2pm-3pm', '3pm-4pm', '4pm-5pm', '5pm-6pm'] %}
                {% for time_slot in time_slots %}
                    <tr>
                        <td align="center">{{ time_slot }}</td>
                        {% for room_number in room_numbers %}
                            <td align="center">
                                {% set room_id = 'r' + room_number %}
                                {% set room_availability = get_room_availability(room_id, current_day, time_slot, floor) %}
                                <div class="room-card {% if room_availability == 'Occupied' %}cardRed{% else %}cardWhite{% endif %}">
                                    <h2 style="text-align: center;">Room {{ room_number }}</h2>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No current day selected.</p>
        {% endif %}
    </div>
{% endblock %}
