{% extends "layout.html" %}
{% block title %}
    Academic Complex Floor 1
{% endblock %}
{% block content %}
    <div class="rooms-container">
        <!-- Room 101 Card -->
        <div class="room-card cardWhite">
            <h2>Room 201</h2>
        </div>

        <!-- Room 102 Card -->
        <div class="room-card cardRed">
            <h2>Room 202</h2>
        </div>

        <!-- Room 103 Card -->
        <div class="room-card cardWhite">
            <h2>Room 203</h2>
        </div>

        <!-- Room 104 Card -->
        <div class="room-card cardWhite">
            <h2>Room 204</h2>
        </div>
    </div>
{% endblock %}
