{% extends "layout.html" %}
{% block title %}
    Select Venue
{% endblock %}

{% block content %}
<h1>Edit The Venue</h1>

<form class="form-venue" action="{{ url_for('editvenue') }}" method="POST">
    <label for="venue">Choose a Venue to edit:</label>
    <select id="venue" name="venue">
        <option value="AC_floor1">Academic Complex Building 1st Floor</option>
        <option value="AC_floor2">Academic Complex Building 2nd Floor</option>
        <option value="Auditorium">Auditorium</option>
        <option value="parking_slot">Parking Slot</option>
    </select>
    <br><br>
    <label for="day">Choose the Day</label>
    <select id="day" name="day">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}