{% extends "layout.html" %}
{% block title %}
FacilityMonitor
{% endblock %}
{% block content %}
<h1>Welcome to the FacilityMonitor!</h1>
<h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quaerat qui! Vitae quibusdam laborum, aliquam vel delectus blanditiis optio tenetur tempore, voluptatibus numquam natus ad quaerat deleniti quod repellendus error!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore similique, dolorem enim cum harum pariatur assumenda omnis natus odio amet impedit, quod architecto tempore optio, qui facilis odit? Consequatur, provident. lorem
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam iste dolor repellat! Necessitatibus voluptate laudantium, cumque eveniet, vitae enim adipisci autem, at tempore quasi quae accusantium. Porro illo rerum maxime!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ipsum neque ullam repudiandae at sapiente cum laudantium nobis dolore, eveniet corrupti. Maiores, reiciendis cum. Distinctio ea nostrum necessitatibus perferendis alias.
</p>
</h3>
{% endblock %}